<!DOCTYPE html>
<html>
<head>
    <title>Upload Images</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script type="text/javascript" async src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" type="image/jpg" href="static/bg.jpg"/>
       </head>
<body>
    
    <h1>Methane Detection Model<h1>

    <h3>Upload Images</h3>

    <form method="POST" action="/upload" enctype="multipart/form-data">
      <div class="file-upload">
        <label for="file" id="file-label">Choose image files...</label>
        <input type="file" name="images" id="images" multiple accept="image/*">
         </div>
         <br>
        <button type="submit" class="btn">Upload</button>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </form>
</body>
</html>
